<form class="update-student" (ngSubmit)="updateStudentFormSubmit()" #studentUpdateForm="ngForm">
  <h2>Edycja #

    <!--{{student.id}} <i>{{student.name}}</i>-->

  </h2>


  <div class="form-group">
    <label for="name">Imię i nazwisko:</label>
    <input type="text" id="name"
    name="studentName"
    #studentName="ngModel"
    ngModel
    >
  </div>

  <div class="form-group">
    <label for="email">Adres e-mail:</label>
    <input type="email" id="email"
    name="email"
    #email="ngModel"
    ngModel
    >
  </div>

  <div>
    <button (click)="goBack()" class="button">Anuluj</button>
    <button class="btn btn-success" type="submit">Zapisz</button>
  </div>
</form>
