<form class="update-student" *ngIf="student" (ngSubmit)="updateStudentFormSubmit()" #studentUpdateForm="ngForm">
  <h2>Edycja # {{student.id}} <i>{{student.name}}</i></h2>

  <div class="form-group">
    <label for="name">Imię i nazwisko:</label>
    <input type="text" id="name"
           name="studentName"
           #studentName="ngModel"
           ngModel
           [(ngModel)]="student.name"
    >
  </div>

  <div class="form-group">
    <label for="email">Adres e-mail:</label>
    <input type="email" id="email"
           name="email"
           #email="ngModel"
           ngModel
           [(ngModel)]="student.email"
    >
  </div>

  <div>
    <button type="button" class="btn btn-warning" (click)="goBack()" >Anuluj</button>
    <button type="button" class="btn btn-success" type="submit">Zapisz</button>
  </div>
</form>
